<div class="row">
  <div class="col-xs-6">
    <div class="thumbnail">
      <div class="row">
        <div class="col-xs-12 text-center">
          <%= @scenario.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          Victory Display:
        </div>
        <div class="col-xs-6">
          <%= @scenario.victory_display %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          Resolution:
        </div>
        <div class="col-xs-6">
          <%= @scenario.resolution %>
        </div>
      </div>

      <div class="row text-center">
        <a href="<%= edit_campaign_scenario_path(@campaign, @scenario)%>" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-random" aria-hidden="true"></span> Resolve
        </a>
      </div>
    </div>
  </div>
</div>