<%= form_for @campaign, method: :put do |f| %>
    <div class="form-group">
      <%= f.label :notes, "Notes" %>
      <%= f.text_area :notes, size: "60x12", class: "form-control" %>
      <%= f.submit "Save", class: "btn btn-default" %>
    </div>
<% end %>
