<span>This is the <%= @campaign.name %> campaign!</span>
<h3>Scenarios:</h3>
<ul>
<% @campaign.scenarios.each do |scenario| %>
  <li><%= link_to scenario.name, campaign_scenario_path(@campaign, scenario) %></li>
<% end %>
</ul>
<h3>Notes:</h3>
<p><%= @campaign.notes %></p>
<%= link_to "Edit", edit_campaign_path(@campaign) %>