@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC');


$body-bg: rgb(54, 65, 67);

// Typography

* {
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 25px;
}

.form-control {
  font-size: 20px;
}

.navbar-brand {
  font-size: 30px;
}

.text-center {
  margin-bottom: 20px;
}