@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC');

$text-color: black;
$navbar-default-link-color: black;

body {
  background-image: url('cthulhu.jpg');
}

* {
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 25px;
}

.text-center {
  margin-bottom: 20px;
}

ul {
  list-style-image: url('devourer-icon-17x19.png');
}